<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fromAddress" value="Test@Ijepai.com" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="userName" value="rahulkarn" />
    <add key="password" value="royalresidency" />
    <add key="port" value="587" />
    <add key="ssl" value="true" />
  </appSettings>
</configuration>