<div id="templates">
    <ul id="lab-actions-template">
        <li class="lab-extend-duration"></li>
        <li class="lab-edit"></li>
        <li class="lab-add-remove-participants"></li>
        <li class="lab-delete"></li>
    </ul>
    <ul id="participant-actions-template">
        <li class="participant-edit"></li>
        <li class="participant-get-lab-link"></li>
        <li class="participant-delete"></li>
    </ul>
    <div id="popup-template">
        <div class="popup-header">

        </div>
        <div class="popup-body">

        </div>
        <div class="popup-footer">

        </div>
    </div>
</div>
<div id="forms-container">
    <form method="post" id="create-new-lab-form">
        <label>test</label><input type="text" />
    </form>
</div>
