
@{
    ViewBag.Title = "LogOff";
}

<section id="logoutForm">
    @using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login_form", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Log Out" class="btn btn-default" />
            </div>
        </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
    }
</section>



