
@{
    ViewBag.Title = "RegistrationConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <p style="position: absolute; top: 45%;left: 35%;">
        Congrats!! You have registered successfully. Please check your email for verification.
    </p>
</div>